<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bíblia
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let dados of dadosBiblia" style="padding-top: 0px; padding-bottom: 0px;">
      <ion-item lines="full" (click)="detalharLivros(dados)">
        <ion-buttons slot="start" class="styleBtn">
          <ion-button>
            <ion-label style="color: white;">{{dados.abbrev}}</ion-label>
          </ion-button>
        </ion-buttons>
        <span>
          <ion-label style="font-size: 20px;">{{dados.name}}</ion-label>
        </span>
      </ion-item>
  </ion-list>
</ion-content>