<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="touchVoltarModal()" style="width: 60px; height: 60px;">
        <ion-icon style="height: 25px; margin-left: 8px !important;" slot="icon-only" name="arrow-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Versículos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="font-size: 15px; padding-top: 10px; padding-bottom: 10px;" *ngFor="let versiculo of listVersiculo">
    <div class="custom-text">
      <strong>{{versiculo[0]}} - {{versiculo[1]}}</strong>
    </div>
  </div>
</ion-content>