<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-img src="assets/images/admissao.png" style="height: 50px;"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #18181a !important;">
  <ion-row>
    <ion-col (click)="touchNavParam('/biblia')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/biblia.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="touchNavParam('/harpa')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/harpa.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col (click)="touchNavParam('/devocional')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/devocional.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="touchNavParam('/noticia')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/noticias.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col (click)="touchNavParam('/radio')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/radio.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="touchNavParam('/leitura')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/leitura.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col (click)="touchNavParam('/contribuicao')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/contribuicao.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="touchNavParam('/congregacoes')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/igrejas.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col (click)="touchNavParam('/umadem')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/umadem.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="touchNavParam('/semadmig')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/semadmig.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row style="margin-bottom: 20px;">
    <ion-col (click)="touchNavParam('/usademig')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/usademig.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="openExternal('https://admissaojardimamerica.com.br/')"> <!-- (click)="touchNavParam('/site')" -->
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/site.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer style="font-size: 10px; text-align: center; color: #ffffff; background-color: #244381; opacity: 0.8;">
  <ion-row>
    <ion-col>
      <ion-label>Versão 7.15.003 - amilton.dev</ion-label>
    </ion-col>
  </ion-row>
</ion-footer>