<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets/images/admissao.png" style="height: 50px;"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #18181a !important;">
  <ion-row>
    <ion-col (click)="touchNavParam('/biblia')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/biblia.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="touchNavParam('/harpa')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/harpa.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col (click)="touchNavParam('/versiculo')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/versiculo.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="touchNavParam('/noticia')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/noticias.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/curso01.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/estudo02.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/leitura.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/igrejas.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/contribuicao.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/missoes.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row style="margin-bottom: 20px;">
    <ion-col (click)="touchNavParam('/devocional')">
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/devocional.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col (click)="openExternal('https://admissaojardimamerica.com.br/')"> <!-- (click)="touchNavParam('/site')" -->
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/site.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>