.styleBtn {
  border-radius: 10px !important;
  border: 1.5px solid #853dc7;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

span {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 10px;
}