<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="touchVoltarModal()" style="width: 60px; height: 60px;">
        <ion-icon style="height: 25px; margin-left: 8px !important;" slot="icon-only" name="arrow-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{livro.nome_livro}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-buttons slot="start" class="styleBtn" *ngFor="let capitulo of dadosLivro; let i = index;">
        <ion-button (click)="detalharVersiculo(capitulo)">
          <ion-label style="color: #9d3f48; font-weight: bold">{{i+1}}</ion-label>
        </ion-button>
      </ion-buttons>
  </ion-list>
</ion-content>