<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets/images/admissao.png" style="height: 50px;"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #18181a !important;">
  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/biblia.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/devocional.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/versiculo.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/noticias.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/biblia.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/devocional.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/biblia.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/devocional.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/biblia.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/devocional.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row style="margin-bottom: 20px;">
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/biblia.png"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding">
        <ion-img src="assets/images/devocional.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>